<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<!--panel-style -->/css/styl.css" rel="stylesheet"
type="text/css"/>
<title>Aukce</title>

<link href="css/styl.css" rel="stylesheet" type="text/css" />
</head>

<body>

<!--START GOOGLE -->

<script type="text/javascript">



var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");



document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));



</script>



<script type="text/javascript">



try {



var pageTracker = _gat._getTracker("UA-9620198-1");



pageTracker._trackPageview();



} catch(err) {}</script>

<!--END GOOGLE -->

<div class="main">

<div class="hlavicka">
<div class="logo"></div>
</div>

<div align="right" style="height: auto; width: 994px; clear: both;">
<!--panel-header -->
<div style="width: 994px; clear: both; height: 1px;"></div>
</div>

<div>

<div class="left"><!--panel-left --></div>
</div>
<div class="middle"><!--panel-center --></div>

</div>

<div class="paticka">

<div align="center">Nab&iacute;zen&eacute; slu&#382;by: <span
	class="style3"> | </span>Webdesign<span class="style3"> | </span>Poskytování
a servis redakčních systémů <span class="style3">|</span>Poradenská
činnost<span class="style3">|</span></div>

<div id="mask-footer-content" class='home'>

<div align="center">
<p><a href="http://omnique.cz"><strong>Omnique.cz</strong></a></p>
</div>

</div>

</div>

</body>

</html>