<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" href="../../css/3col_leftNav.css" type="text/css" />
</head>
<body>
<div id="masthead">
<h1 id="siteName">Site Name</h1>
<div id="globalNav"><!--panel-header --></div>
</div>
<div id="navBar"><!--panel-left --></div>

<div id="headlines"><!--panel-right --></div>
<div id="content"><!--panel-center --></div>
<div id="siteInfo"><!--panel-footer --></div>
<br />
</body>
</html>
