<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rukodílna organika</title>
<link href="<!--panel-style -->/style.css" rel="stylesheet" type="text/css" />
 <!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="<!--panel-style -->/ie.css">
<![endif]-->
</head>

<body>
<div id="zarovnani">
 <div id="line">
  <div id="cont">
   <div id="kosik"></div>
   <div id="menu">
     <!--panel-left -->
	 <!--<a href="index.php?page=Texty&action=show&text=doplnky">DOPLŇKY 
      <div class="hracky">A HRAČKY</div>
     </a><a href="index.php?page=Texty&action=show&text=podminky">Obchodní 
      <div class="hracky">podmínky</div></a>-->
	  <p>&nbsp;</p>
  		 <p>&nbsp;</p>
   		 <p>&nbsp;</p>
   </div>
   <div id="ukazatel" style="margin-top:<!--panel-sipka -->;"></div>
   <div id="obsahSekce"></div>
   <div id="obsahFill">
   <div class="kosikTXT" id="kosikU"><!--panel-kosik --></div>
   <!--panel-center --></div>
  <div id="footer">
   <div id="footerL"></div>
   <div id="footerR"></div>
   </div>
  </div>
</div>
</div>
</div>
</body>
</html>