<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rukodílna organika</title>
<link href="../Copy of Rukodilna/style.css" rel="stylesheet" type="text/css" />
 <!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="ie.css">
<![endif]-->
</head>

<body>
<div id="zarovnani">
 <div id="line">
  <div id="cont">
   <div id="kosik"></div>
   <div id="menu">
    <p>
     <a href="#">kdo jsme</a>
     <a href="#"> NÁBYTEK NABÍDKA</a>
     <a href="#">DOPLŇKY A HRAČKY</a>
     <a href="#">E-SHOP</a>
     <a href="#">KONTAKTY</a>
    </p>
   </div>
   <div id="zakulaceni"></div>
   <div id="obsah">
    <h1>kdo jsme</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus lacus, consequat sit amet blandit at, bibendum vitae lectus. Pellentesque rhoncus arcu non erat tincidunt scelerisque. Quisque fermentum fermentum nulla. In imperdiet commodo lacus et mollis. Etiam iaculis dictum diam sit amet dapibus. Sed a sapien nulla. Ut nec neque mauris, dignissim ornare enim. Integer scelerisque sollicitudin pretium. Praesent accumsan pharetra ornare. Fusce sollicitudin, purus a dictum lacinia, elit sapien malesuada dolor, et aliquam dui metus ultricies urna. Suspendisse orci massa, volutpat eget scelerisque viverra, viverra at nibh. Cras nec neque sit amet ligula aliquam aliquam. Mauris dictum cursus orci.</p>
    
    <img src="" width="200px" height="200px" />  

   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus lacus, consequat sit amet blandit at, bibendum vitae lectus. Pellentesque rhoncus arcu non erat tincidunt scelerisque. Quisque fermentum fermentum nulla. In imperdiet commodo lacus et mollis. Etiam iaculis dictum diam sit amet dapibus. Sed a sapien nulla. Ut nec neque mauris, dignissim ornare enim. Integer scelerisque sollicitudin pretium. Praesent accumsan pharetra ornare. Fusce sollicitudin, purus a dictum lacinia, elit sapien malesuada dolor, et aliquam dui metus ultricies urna. Suspendisse orci massa, volutpat eget scelerisque viverra, viverra at nibh. Cras nec neque sit amet ligula aliquam aliquam. Mauris dictum cursus orci.</p>
 <img src="" width="200px" height="200px" />
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus lacus, consequat sit amet blandit at, bibendum vitae lectus. Pellentesque rhoncus arcu non erat tincidunt scelerisque. Quisque fermentum fermentum nulla. In imperdiet commodo lacus et mollis. Etiam iaculis dictum diam sit amet dapibus. Sed a sapien nulla. Ut nec neque mauris, dignissim ornare enim. Integer scelerisque sollicitudin pretium. Praesent accumsan pharetra ornare. Fusce sollicitudin, purus a dictum lacinia, elit sapien malesuada dolor, et aliquam dui metus ultricies urna. Suspendisse orci massa, volutpat eget scelerisque viverra, viverra at nibh. Cras nec neque sit amet ligula aliquam aliquam. Mauris dictum cursus orci.</p>

   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus lacus, consequat sit amet blandit at, bibendum vitae lectus. Pellentesque rhoncus arcu non erat tincidunt scelerisque. Quisque fermentum fermentum nulla. In imperdiet commodo lacus et mollis. Etiam iaculis dictum diam sit amet dapibus. Sed a sapien nulla. Ut nec neque mauris, dignissim ornare enim. Integer scelerisque sollicitudin pretium. Praesent accumsan pharetra ornare. Fusce sollicitudin, purus a dictum lacinia, elit sapien malesuada dolor, et aliquam dui metus ultricies urna. Suspendisse orci massa, volutpat eget scelerisque viverra, viverra at nibh. Cras nec neque sit amet ligula aliquam aliquam. Mauris dictum cursus orci.</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
  </div>
  <div id="footer"></div>
</div>
</div>
</div>
</body>
</html>